site_name: Metadata Profile
site_url: 'https://terralid.github.io/metadata/'
site_author: "TerraLID Core Team"
repo_url: https://github.com/terralid/metadata
repo_name: terralid/metadata
edit_uri: ""
docs_dir: ./docs
site_dir: ./site

theme:
  name: material 
  font: false
  logo: assets/TerraLID_logo_word_white.png
  favicon: assets/favicon.png
  icon: 
    repo: fontawesome/brands/github
  custom_dir: overrides
  palette:
#    - scheme: slate
#      toggle:
#        icon: material/toggle-switch
#        name: Dark mode
#      primary: green
#      accent: deep purple
    - scheme: terralid
#      toggle:
#        icon: material/toggle-switch-off-outline
#        name: Light mode
  features:
#    - navigation.tabs
#    - navigation.tabs.sticky
    - navigation.instant
    - navigation.path
    - navigation.expand
#    - navigation.sections
#    - toc.integrate

nav:
  - About: index.md
  - Introduction: introduction.md
  - Metadata: 
    - Sites: metadata_sites.md
    - Assemblages: metadata_assemblages.md
    - Objects: metadata_objects.md
    - Samples: metadata_samples.md
    - Analyses: metadata_analyses.md
    - Material-specific:
      - Ore: metadata_ore.md
      - Glass: metadata_glass.md
      - Metal: 
        - General: metadata_metal.md
        - Coins: metadata_metal-coins.md
      - Pigments: metadata_pigment.md
      - By-products: metadata_by-products.md  
  - Mappings: mappings.md
  - History: changelog.md

watch: 
  - includes

extra_css:
  - ./stylesheets/extra.css

# Mike and search plugins
plugins:
  - search
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js
  - include-markdown: # see https://pypi.org/project/mkdocs-include-markdown-plugin/ for reference
      comments: true
  - add-number: # see https://github.com/ignorantshr/mkdocs-add-number-plugin for reference
      order: 2
  - exporter:
      formats:
        pdf:
          enabled: true
          aggregator:
            enabled: true
            output: pdf/TerraLID_Metadata_Profile.pdf
      concurrency: 4

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.caret
  - pymdownx.tilde
  - md_in_html

copyright: This work is licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>. <br> <a href="https://www.terralid.org/about.html">Legal information</a>

extra:
  version:
    provider: mike
  generator: false
  social:
    - icon: fontawesome/brands/instagram 
      link: https://www.instagram.com/terra_lid/
      name: TerraLID on Instagram
    - icon: fontawesome/regular/envelope 
      link: mailto:terralid@bergbaumuseum.de
      name: Contact the TerraLID team by email
    - icon: fontawesome/solid/globe
      link: https://www.terralid.org
      name: TerraLID Webpage
